
.container {
    display: flex;
    justify-content: center;
    width: 33.33%;
    
}

.header {
    background-color: #093D77;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;  
}

h1 {
    font-family: Open Sans;
    color: #FFFFFF;
}

h3 {
    font-family: Open Sans;
}

.CTA {
    font-family: Open Sans;
    padding-left: 2%;
}

section {
    padding-left: 2%;
}

.pill {
    background-color: #8FDEEF;
    font-family: Open Sans;
    padding: 0.3%;
    border: 2px #8FDEEF;
    border-radius: 12px;
}

.column {

}

figcaption {
    font-family: Oswald;
}