
.header {
    background-color: #093D77;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;  
}

h1 {
    font-family: Open Sans;
    color: #FFFFFF;
}

h3 {
    font-family: Open Sans;
}

.CTA {
    font-family: Open Sans;
    padding-left: 2%;
}

section {
    padding-left: 2%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
    
img {
    max-width: 100%;
    height: auto;
    }
    
.flex-item {
    max-width: 30%;
    padding: 1%;
    }

figcaption {
    font-family: Oswald;
    padding: 1px;
    margin: 1px; 
    }


.flex-item > ul {
    list-style-type: none;
}

.flex-item > ul > li {
display: inline-block; 
padding: 3px; 
border-radius: 12px;
background-color: #8FDEEF;
font-family: Open Sans;
}

.footer-flex-item {
    display: flex;
    max-width: 100%;
    }




#footer1 {
    background: URL(starter_files/images/donate.jpg);
    min-height: 450px;
}

#footer2 {
    background: URL(starter_files/images/volunteer.jpg);
    min-height: 450px;
}

#footer3 {
    background: URL(starter_files/images/location.png);
    min-height: 450px;
}

